.cafe24-publisher{
    font-size: 3rem;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 10;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Brush Script MT", cursive;
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background-color: black;
    color: #00ff72;
}

.img{
    position: fixed;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-image: url("amongus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    opacity: 0.2;
    transition: all 1.5s ease-in-out;
}
.img:hover{
    opacity: 1;
    transition: all 1.5s ease-in-out;
}

.bottom-nav{
    display: flex;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 5%;
    left: 0%;
    justify-content: center;
    align-items: center;
}

.ghost-button{
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #00ff72;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}
.ghost-button:hover{
    cursor: pointer;
    background: #00ff72;
    color: black;
    transition: all 1s ease-in-out;
    font-weight: bold;
}